<div id="viewer-container" style="background: black; overflow: hidden; height: 100%; position: relative">
  <div class="tool-hint" style="position: absolute; bottom: 5px; right: 5px;"></div>
  <canvas #canvas width="300" height="300"></canvas>

</div>
<h3>{{title}}</h3>
<p>{{viewport.retinaPxielRatio}}</p>
<button (click)="addPoint()" class="btn">Add Point</button>
<button (click)="addArc()" class="btn">Add Arc</button>
<button (click)="addCircle()" class="btn">Add Circle</button>
<button (click)="addRectangle()" class="btn">Add Rectangle</button>
<button (click)="addFillet()" class="btn">Fillet</button>
<button (click)="addDiameterDimension()" class="btn">Add Diameter Dim</button>
<button (click)="addBezier()" class="btn">Add Bezier Curve</button>
<m4-sketcher-constraint-list [parametricManager]="viewport.parametricManager" (peekConstraint)="onPeek($event)" (selectConstraint)="onSelect($event)"
  (deSelectConstraint)="onDeSelect()"></m4-sketcher-constraint-list>
